body {
	background: url('pics/metro_parks.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
	color: gray;
}

p {
	color: darkgray;
}

#centerPiece {
	padding-left: 10%;
	padding-top: 7.5%;
}

.foot {
    overflow: hidden;
    text-align: center;
	color: #000;
}
.foot:before,
.foot:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}
.foot:before {
    right: 0.5em;
    margin-left: -50%;
}
.foot:after {
    left: 0.5em;
    margin-right: -50%;
}

footer {
	padding-top: 10.5%;
}